.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    gap: 18px;
    height: 135px;
    width: 750px;
    margin: 0 auto;
    margin-top: 40px;
    position: relative;
}

.search {
    width: 590px;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #252525;
}

.all{
    background-color: #6C63FF;
    border: none;
    width: 85px;
    height: 38px;
    border-radius: 10px;
}

.sunImg{
    color: #6C63FF;
    background-color: #6C63FF;
    border: none;
    width: 38px;
    height: 38px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sunImg:hover{
    cursor: pointer;
}

.bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 750px;
}

.all:hover{
    cursor: pointer;
}