.notes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 520px;
  margin: 0 auto;
  position: relative;

  .delete {
    width: 26px;
    height: 26px;
    border: none;
    display: flex;
    justify-content: center;
    background: #252525;
    cursor: pointer;
  }
}

.firstcont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;

  p {
    font-size: 20px;
  }

  .submit {
    width: 26px;
    height: 26px;
    border: 1px solid #6c63ff;
    background: #252525;
    border-radius: 2px;
    cursor: pointer;
  }
}

hr {
  width: 520px;
  margin: 0 auto;
  position: relative;
  margin-top: 17px;
  border: 1px solid #6c63ff;
  margin-bottom: 17px;
}